* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(./assets/img/sneaker-wallpaper.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
body::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.384);
  z-index: -1;
}

.box {
  margin-top: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
}
.box .box_content .item_box {
  padding: 20px 0;
  border-radius: 25px;
  background-color: white;
  border: 1px solid transparent;
  transition: 0.3s all;
}
.box .box_content .item_box a {
  display: inline-block;
  width: 100%;
}
.box_content h3 {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.562);
  color: white;
  padding: 10px;
  border-radius: 10px;
  transform: scale(0);
  border: 1px solid rgb(80, 214, 255);
  transition: 0.3s;
}

.box .box_content:hover .item_box {
  border: 1px solid rgb(80, 214, 255);
}
.box_content:hover h3 {
  transform: scale(1);
}
